//localhost:4873/:_authToken="mu5IzRKY+zbEQ/dk4Ows8WfNdsbIOTDaYksIgg+D5zo="
@progress:registry=https://registry.npm.telerik.com/
//registry.npm.telerik.com/:_authToken=a5f5KCrq4Z+wM+rfKvO/P0m9dowps1/tVCoTB3L4kn2GQkjL2c/HPFuOcEKIyh1/
