<div id="busy" [ngBusy]="{busy: busy,
                          message: 'Fetching data, please wait...',
                          backdrop: true,
                          delay: 200,
                          minDuration: 600}">
</div>

<kendo-dialog title="Error" *ngIf="isError" (close)="close()">
    <p style="margin: 30px; text-align: center;">Error ({{errNumber}})</p>
    <kendo-dialog-actions>
        <button kendoButton (click)="close()">Close</button>
    </kendo-dialog-actions>
</kendo-dialog>

<div id="app-header">
    <h1 id="app-title"> Loccioni / Time Tracking </h1>
</div>

<div id="app-toolbar">
    <div class="app-" id="app-groups">
        <p class="text-"> Groups: </p>
        <kendo-dropdownlist [data]="dropDownGroup" (valueChange)="valueChange($event)">
        </kendo-dropdownlist>
    </div>

    <div class="app-" id="app-date-start">
        <p class="text-">Date Start: </p>
        <kendo-datepicker [value]="startDate" (valueChange)="onChangeStart($event)"></kendo-datepicker>
    </div>

    <div class="app-" id="app-date-end">
        <p class="text-"> Date End: </p>
        <kendo-datepicker [value]="endDate" (valueChange)="onChangeEnd($event)"></kendo-datepicker>
    </div>

    <div class="app- btn-" id="app-button-fetch">
        <button kendoButton (click)="checkAndStart()" [primary]="true"> Fetch </button>
    </div>

    <div class="app-route">
        <button class="btn-" id="app-button-table" kendoButton (click)="toggleTable()" [primary]="toggle"> Table </button>
        <button class="btn-" id="app-button-graphs" (click)="toggleGraph()" kendoButton [primary]="!toggle"> Graphs </button>
    </div>

</div>
<br>

<div class="body-table" *ngIf="toggle">
    <kendo-grid [data]="gridData" [pageSize]="state.take" [skip]="state.skip" [sort]="state.sort" [sortable]="true" [pageable]="true"
        (dataStateChange)="dataStateChange($event)" [filterable]="true">

        <kendo-grid-column field="id" title="Project ID">
            <ng-template kendoGridFilterCellTemplate>
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="name" title="Project Name">
            <ng-template kendoGridFilterCellTemplate let-filter let-column="column">
                <kendo-grid-string-filter-cell [showOperators]="false" [column]="column" [filter]="filter">
                </kendo-grid-string-filter-cell>
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="nCreated" title="Opened Issue">
            <ng-template kendoGridFilterCellTemplate>
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="nClosed" title="Closed Issue">
            <ng-template kendoGridFilterCellTemplate>
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="timeOut" title="Issue out of time">
            <ng-template kendoGridFilterCellTemplate>
            </ng-template>
            <ng-template kendoGridCellTemplate let-dataItem>
                {{dataItem.timeOut}}
            </ng-template>
        </kendo-grid-column>
        <!-- <kendo-grid-column field="timeEstimated" title="Time Estimated">
            <ng-template kendoGridFilterCellTemplate>
            </ng-template>
            <ng-template kendoGridCellTemplate let-dataItem>
                {{dataItem.timeEstimated.h}} h
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="timeSpent" title="Time Spent">
            <ng-template kendoGridFilterCellTemplate>
            </ng-template>
            <ng-template kendoGridCellTemplate let-dataItem>
                {{dataItem.timeSpent.h}} h
            </ng-template>
        </kendo-grid-column> -->
        <ng-template kendoGridDetailTemplate let-dataItem [kendoGridDetailTemplateShowIf]="checkLength">
            <div *ngFor="let item of dataItem.timeOutIssue">
                <table>
                    <tr>
                        <td>
                            <p id="grid-detail" style="margin-left: 1em"><strong>Name:</strong><a href="item.html_link" (click)="newWindow(item.html_link)" target="_blank"> {{item.title}} </a></p>
                        </td>
                        <td>
                            <p id="grid-detail"><strong>State:</strong> {{item.state}}</p>
                        </td>
                        <td>
                            <p id="grid-detail"><strong>IID:</strong> {{item.iid}}</p>
                        </td>
                        <td>
                            <p id="grid-detail"><strong>Time Estimated:</strong> {{item.time_estimate / 3600}}</p> h
                        </td>
                        <td>
                            <p id="grid-detail"><strong>Time Spent:</strong> {{item.total_time_spent / 3600}}</p> h
                        </td>
                    </tr>
                </table>
            </div>
        </ng-template>
    </kendo-grid>
</div>

<div class="body-graph" *ngIf="!toggle">
    <kendo-chart>
        <ng-template kendoGridToolbarTemplate>
                <button kendoGridPDFCommand><span class='k-icon k-i-file-pdf'></span>Export to PDF</button>
            </ng-template>
        <kendo-chart-category-axis>
            <kendo-chart-category-axis-item-labels rotation="35">
            </kendo-chart-category-axis-item-labels>
            <kendo-chart-category-axis-item [categories]="seriesData?.monthAndYear">
            </kendo-chart-category-axis-item>
        </kendo-chart-category-axis>
        <kendo-chart-series>
            <kendo-chart-series-item [data]="seriesData?.count" type="line" name="Issues Out Of Time">
            </kendo-chart-series-item>
            <kendo-chart-series-item [data]="seriesData?.count2" type="line" name="Issues Closed">
            </kendo-chart-series-item>
        </kendo-chart-series>
        <kendo-grid-pdf fileName="Products.pdf" [allPages]="true">
            <kendo-grid-pdf-margin top="1cm" left="1cm" right="1cm" bottom="1cm"></kendo-grid-pdf-margin>
        </kendo-grid-pdf>
    </kendo-chart>
</div>
