<h1> electron/angular2 issues tracking app </h1>

<table>
    <tr>
        <th> Project ID </th>
        <th colspan="2"> Issues </th>
        <th colspan="2"> Time Tracking </th>
    </tr>
    <tr>
        <th></th>
        <th> Opened </th>
        <th> Closed </th>
        <th> Time Estimated </th>
        <th> Time Spent </th>
    </tr>
    <tr *ngFor="let project of projectArray">
        <td>
            {{ project.name }}
        </td>
        <td>
            {{ project.nActive }}
        </td>
        <td>
            {{ project.nClosed }}
        </td>
        <td>
            {{ totalTimeEstimated }}
        </td>
        <td>
            {{ totalTimeSpent }}
        </td>
    </tr>
</table>
